/* styles.css */

.tabbable > .nav-pills > li > a {
  color: black !important;
  border-radius: 25px;
  background-color: #d8bfd8 !important;
  transition: background-color 0.3s ease; /* Add a transition effect */
  
}

.tabbable > .nav-pills > li.active > a {
  background-color: #ffdab9 !important;
}

.nav {
  background-color: #d8bfd8;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
  
}

.nav-pills {
  border-radius: 25px;
  display: flex; /* Use flexbox for the tabs */
  justify-content: space-between; /* Evenly space the tabs */
  width: fit-content !important; /* Make sure the tabs take up the full width */
  border-bottom: 0;
}

.nav-item {
  flex: 1; /* Distribute the tabs equally */
}


.sidebar {
  position: fixed;
  height: 100%;
  width: 13.65%;
  background-color: #2F4F4F;
  color: white;
  margin-top: -50px;
  border: 2px solid #333;
  border-top: none;
}

.body {
  min-width: 900px; /* Set your desired minimum width */
  overflow-x: auto; /* or overflow-x: scroll; */
  white-space: nowrap; /* Prevents text from wrapping */
}

.content-wrapper {
  width: auto;
  margin-top: 50px;
  background-color: azure;
  color: black;
  min-width: 900px;
  
}

#monthtit {
  background-color: black;
  color: antiquewhite;
  width: 15%;
  font-size: 40px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 5px;
}




